/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 html, body {
  height: 100%;
}

.mainBannerArrowDown {
  color: white;
  font-size: 40px;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainBannerArrowDown:hover {
  filter: drop-shadow(0px 0px 8px #48abe0);
}

.topBanner {
  max-height: 200px;
  padding: 10rem 0;
  background-color: transparent;
  background-image: url('/img/landingpage_banner_main.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  text-align: center;
}

.topBannerDownArrow {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  content: url("/img/landingpage_topbanner_arrow_down.png");
  width: 40px;
}

.topBannerDownArrow:hover {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%, -50%);
  content: url("/img/landingpage_topbanner_arrow_down_glow.png");
  width: 60px;
}

.featureImage {
  width: auto;
  max-height: 128px;
  margin: 0 auto;
}

.featureHeading {
  font-size: var(--ifm-h3-font-size);
  padding-top: 1rem;
}

.featuresContainerText {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

.quoteBanner {
  background-color: transparent;
  background-image: url('/img/landingpage_banner_dots_1.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1f89de;
  background-attachment: fixed;
}

.quoteBannerContainer,
.installBannerContainer {
  max-width: 600px;
  align-items: right;
  margin-left: auto;
}

.quoteBannerTitle,
.installBannerTitle {
  font-size: 1.7rem;
  font-weight: bold;
}

.quoteBannerBody {
  font-style: italic;
}

.quoteBannerAuthorContainer {
  text-align: right;
}

.quoteBannerAuthorName {
  display: inline-block;
  text-align: right;
  font-weight: bold;
}

.applicationBannerContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 0 2rem 0;
}

.applicationBannerItem {
  flex: 1;
}

.applicationBannerItemTitle {
  font-size: 1.7rem;
  font-weight: bold;
}

.applicationBannerListItem {
  margin: 0;
	padding: 12px 30px;
	list-style: none;
	background-image: url("/img/landingpage_platform_arrow.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 12px;
  font-weight: bold;
}

.applicationBannerQuote {
  font-weight: bold;
  text-align: center;
  font-style: italic;
  color: #223746;
  margin-bottom: 20px;
}

.installBanner {
  background-color: transparent;
  background-image: url('/img/landingpage_banner_dots_2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #29ba99;
  background-attachment: fixed;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .featureBanner {
    width: 80%;
  }

  .applicationBannerContainer {
    flex-direction: column-reverse;
  }

}

.buttons {
  display: flex;
  justify-content: right;
}

